<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Rasika Weliwita">
        <script type="application/ld+json">
          {
            "@context": "http://schema.org/",
            "@type": "Person",
            "email": "weliwita@gmail.com",
            "name": "Rasika Weliwita",
              "sameAs": [
              "https://stackoverflow.com/users/story/2032151",
              "https://github.com/weliwita",
              "https://www.linkedin.com/in/weliwita",
              "https://twitter.com/rasikaweliwita"
              ],
            "familyName": "Weliwita",
            "givenName": "Rasika",
            "jobTitle": "Software Developer"
          }
        </script>
        <title>Inside{CurlyBraces} - Rasika Weliwita</title>

        <!-- Bootstrap core CSS -->
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template -->
        <link href="assets/css/landing-page.css" rel="stylesheet">

    </head>

    <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Inside{CurlyBraces}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://weliwita.com">Home</a>
                    </li>
                <li class="nav-item">
                <a class="nav-link" href="https://weliwita.com/blog">Blog</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="https://weliwita.com/blog/rasika-weliwita">About</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
      {{ content }}
     <!-- Footer -->
     <footer>
            <div class="container">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="https://weliwita.com">Home</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="https://weliwita.com/blog">Blog</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="#">Services</a>
                </li>
                <li class="footer-menu-divider list-inline-item">&sdot;</li>
                <li class="list-inline-item">
                  <a href="https://weliwita.com/blog/rasika-weliwita">About</a>
                </li>
              </ul>
              <p class="copyright text-muted small">Copyright &copy; Rasika Weliwita <script>document.write(""+new Date().getFullYear());</script>. Theme by <a href="https://github.com/BlackrockDigital/startbootstrap-landing-page">startbootstrap</a></p>
            </div>
    </footer>
      
    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      
     </body>
      
</html>
      
